<app-panelgorny></app-panelgorny>
<style>
  .products{
    width: 80%;
  }
  .prodTab{
    margin: 0 auto;
    width: 80%;
  }
  .prodCont{
    background-color: blanchedalmond;
  }
</style>
<div class="products">
  <table class="prodTab">
    <thead>
      <tr>
        <th>
          Podgląd
        </th>
        <th>
          Opis
        </th>
        <th>
          Szczegóły
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let a of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
        <tr class="prodCont">
          <td>#obrazek#</td>
          <td>
            <li>Nazwa: Nazwa</li>
            <li>Cena: Cena</li>
            <li>Kategoria: Kategoria</li>
          </td>
          <td>
            <button>Szczegóły</button>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>
</div>
