
<style>
  .panel
  {
    border:2px outset red;
    background-color: crimson;
    display: flex;
    font-size: x-large;
  }
  .links
  {
    border: 1px outset crimson;
    margin: 0px 10px 0px 10px;
    text-align: center;
  }
  .links:hover
  {
    cursor: pointer;
    background-color:  rgb(255, 115, 115);
  }

</style>
<!--<div class="panel">
  <p routerLink="/landing" class="links">Sklep</p>
    <p routerLink="/products" class="links">Produkty</p>
    <p routerLink="/kontakt" class="links">Kontakt</p>
</div>-->

