<style>
  .topDiv
  {
    border:2px outset red;
    border-radius: 2%;
    background-color: crimson;
    display: flex;
  }
  .siteTitle
  {
    text-align: center;
    width: 20%;
    float: left;
  }
  .prodLink
  {
    display: flex;
  }
  .insideDiv
  {
    display:flex;
  }
</style>

<div>
  <div class="topDiv">
    <h2 class="siteTitle">Sklep</h2>


      <p routerLink="/products" class="prodLink">Produkty</p>
      <p routerLink="/kontakt" class="prodLink">Kontakt</p>


    <input type="text"><button routerLink="/products">Szukaj</button>
  </div>
</div>
