<style>
  .panel
  {
    border-bottom: 2px outset black;
    background-color: blanchedalmond;
    display: flex;
    font-size: x-large;
  }
  .links
  {
    border: 1px outset whitesmoke;
    margin: 2px 10px 2px 10px;
    text-align: center;
  }
  .links:hover
  {
    cursor: pointer;
    background-color:  rgb(255, 115, 115);
  }

</style>
<div class="panel">
  <p routerLink="/landing" class="links">Sklep</p>
    <p routerLink="/products" class="links">Produkty</p>
    <p routerLink="/kontakt" class="links">Kontakt</p>
</div>
